.user-baseinfo {
    width: 1140px;
    height: 510px;
    max-height: 510px;
}

.header {
    max-height: 65px;
}

.base-name {
    color: white;
    font-size: 40px;
    position: absolute;
    z-index: 100;
}

.background {
    position: absolute;
    width: 1140px;
    height: 510px;
    overflow: hidden;
}

.background-img {
    transition: all 0.3s;
}


.background-img:hover {
    transform: scale(1.05);
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.collectCount {
    font-size: 25px;
    color: white;
}
