.user-baseinfo {
    width: 1140px;
    height: 510px;
    max-height: 510px;
}

.header {
    max-height: 65px;
}

.base-name {
    color: white;
    font-size: 40px;
    position: absolute;
    z-index: 100;
}

.background {
    position: absolute;
    width: 1140px;
    height: 510px;
    overflow: hidden;
    box-shadow: 0px 4px 7px 0px #00000052
}

.background-img {
    transition: all 0.3s;
}

.detail {
    width: 130px;
    font-size: 19px;
    line-height: 27px;
    color: white;
}

#footer {
    width: 100%;
    margin-top: 200px;
}

.intro {
    box-shadow: 0px 7px 10px 0 rgba(0, 0, 0, 0.29);
    width: 100%;
}
#err{
    height: 400px;
}
#err p{
    position: relative;
    top: 50%;
    font-family: 宋体;
}
button{
    background: none;
    border: 0;
    color: red;
    position: relative;
    left: 600px;
}
button:hover{
    color: black;
}
@media screen and (max-width: 1024px) {
    .collectCount {
        position: absolute;
        top: 366px;
        left: 80%;
        width: 12%;
        line-height: 40px;
    }
}