
.register-form {
    z-index: 999;
    border: 2px solid #e1e1e1;
    background: rgba(255, 255, 255, 1);
}

.layui-nav {
    z-index: 0 !important;
}

.layui-row layui-col-space4 {
    text-align: center;
}

.info {
    max-width: 100px;;
}

.login-info {
    display: none;
}

h1 {
    z-index: 999;
    position: relative;
    top: 30px;

}

h2 {
    z-index: 999;
    position: relative;
    top: 140px;

}

#login-body {
    z-index: 999;
    width: 500px;
    height: 500px;
    margin: 100px auto;
    border: 2px solid #e1e1e1;
    text-align: center;
    border-radius: 18px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 11px 20px 4px #0000009e;
}

#background-login {
    position: fixed;
    z-index: 30;
    min-width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#close {
    z-index: 999;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#front {
    z-index: 999;
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#user {
    z-index: 999;
    font-size: 60px;
    position: absolute;
    top: 60px;
    left: 204px;
    color: #656565;

}

#form {
    z-index: 999;
    width: 400px;
    height: 300px;
    text-align: center;

}

#submit-yes {
    z-index: 999;
    width: 80px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

#rem {

    width: 100px;
    z-index: 999;
    position: absolute;
    bottom: 5px;
    left: 150px;

}

#background-res {
    z-index: 30;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.close-btn {
    font-size: 40px;
    color: #ff704f;
    cursor: pointer;
}

.check-info {
    margin: 20px auto;
    background: #e0e5df;
    font-family: monospace;
    max-width: 500px;
    color: rgba(99, 33, 32, 0.75);
    padding: 10px;
    border-radius: 14px;
    box-shadow: 5px 2px 4px 0px rgba(197, 197, 197, 0.73)
}

.layui-nav {
    background-color: #718265;
}

.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    background-color: #adbba1;
}

.layui-form-radio > i:hover, .layui-form-radioed > i {
    color: #7b8b6f;
}

.layui-tab {
    color: #87987a;
}

.layui-btn-normal {
    background: #7b8b6f08;
}

.notification-icon {
    cursor: pointer;
    float: right;
}

.new-content {
    margin: 20px auto;
    width: 80%;
    height: auto;
}

.layui-layer-title {
    background: #e0e5df;
    border-radius: 12px;
}

.layui-layer-content {
    text-align: center;
    border-radius: 12px;
}

.search {
    min-width: 180px;
    width: 300px;
}

.layui-layer-page {
    border-radius: 12px;
}

@media screen and (max-width: 1600px) {
    .layui-col-md-offset6 {
        margin-left: 40%;
    }
}

@media screen and (max-width: 1400px) {
    .layui-col-md-offset6 {
        margin-left: 30%;
    }
}

@media screen and (max-width: 1150px) {
    .layui-col-md-offset6 {
        margin-left: 20%;
    }
}


@media screen and (max-width: 1080px) {
    .layui-col-md-offset6 {
        margin-left: 15%;
    }
}

@media screen and (max-width: 1024px) {
    .layui-col-md-offset6 {
        margin-left: 8%;
    }

    .search {
        width: 250px;
    }
}

@media screen and (max-width: 880px) {
    .layui-col-md-offset6 {
        margin-left: 1%;

    }

    .search {
        width: 200px;
    }
}


@media screen and (max-width: 825px) {
    .layui-col-md-offset6 {
        margin-left: 0%;
    }

    .search {
        width: 150px;
    }
}

@media screen and (max-width: 700px) {
    .layui-col-md-offset6 {
        margin-left: 0%;
    }

    .search {
        width: 80px;
    }
}



