<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fos.dao.log.TbLogMapper">
  <resultMap id="BaseResultMap" type="com.fos.entity.log.TbLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="log_id" jdbcType="BIGINT" property="logId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
  </resultMap>
</mapper>