<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fos.dao.stars.TbStarsMapper">
  <resultMap id="BaseResultMap" type="com.fos.entity.stars.TbStars">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="movie_id" jdbcType="INTEGER" property="movieId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>